.login-section{
    width: 400px;
}
.h1-text{
    margin-top: 20px;
    text-align: center;
}
.btn{
    width: 100%;
}
.card-body{
    margin-bottom: 30px;
}
.card-text{
    margin-top: 15px;
}
